body {
  font-family: 'Kumbh Sans', sans-serif;
  position: relative;
}

// .attribution {
//   position: absolute;
//   bottom: 1rem;
//   left: 50%;
//   transform: translateX(-50%);
//   font-size: 11px;
//   text-align: center;
//   z-index: -1;
// }

.attribution a {
  color: hsl(228, 45%, 44%);
}