.faq {
  display: grid;
  grid-template-columns: 1fr;
  background: #fff;
  padding: 4.8rem 2.4rem;
  margin: 0 2.4rem;
  margin-top: calc(62px + 40.5px);
  border-radius: 2.3rem;

  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);

  &__image__container {
    height: 8.4rem;
    display: flex;
    picture {
      width: 85%;
      margin: -15.5rem auto 0 auto;
      position: relative;
      &::before {
        content: url(../images/bg-pattern-mobile.svg);
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 26px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
    
  }
}

  

