*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 10px div by def of 16px
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient($color-gradient-top, $color-gradient-bottom);
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}
