*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // 10px div by def of 16px
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  background: linear-gradient($color-gradient-top, $color-gradient-bottom);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14.8rem 0 8.5rem 0;

  @include tablet-up {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20rem;
  }

  @include desktop {
    padding: 0;
  }
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline-offset: 1px;
    outline-color: $color-secondary;
  }
}
